{% extends 'base.html' %}
{% block title %}
Kenguruji | Vizija
{% endblock %}

{% block naslov %} Naša vizija {% endblock %}
{% block head %} {% endblock %}
{% block content %}
<!-- service -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="lead">
          Še zmeraj je v nas živ spomin na katastrofalne poplave, ki so lansko poletje
          prizadele Slovenijo. Uničeni so bili mostovi, ceste, premnoge družine so ostale
          brez strehe nad glavo, škode je nastalo za približno 10 milijard evrov, uničeni
          pa so bili tako vodni kot kopenski ekosistemi.
          Želimo si preprečiti podobne katastrofe v prihodnosti. Ena izmed glavnih težav pri teh poplavah je bila nepripravljenost infrastrukture: mnoga
          območja so ostala popolnoma odrezana od sveta, prav tako je bilo ponekod
          premalo urejenih vodotokov, ki bi bili sposobni obvladovati takratno količino
          vode.
          </p>
        <div class="section-border"></div>
      </div>
    </div>
    <div class="row">
      <h2 class="section-title">Cilji</h2>
      <p class="lead">
        Kot našo rešitev bi v izzivu Arnes HackathONa ustvarili izboljšan poplavni
        napovedni model, s pomočjo katerega bi naredili nove poplavne karte Slovenije. Te izboljšane poplavne karte bi nato primerjali z obstoječo protipoplavno infrastrukturo ter poiskali točke ogroženosti. Prav tako bi z našim
        modelom ocenili višino vode glede na vremensko napoved ter podatke sproti
        objavljali na spletni strani. Tako bi lahko vsi prebivalci Slovenije pravočasno ukrepali in v primeru neposredne ogroženosti že preventivno zaščitili
        svoje domove. Vremenska opozorila ARSA za regije so seveda že zdaj zelo
        pomembna, naš model pa bi omogočal ljudem videti lokalno natančno razsežnost poplav na zemljevidu, česar trenutna opozorila ne omogočajo.
      </p>
      <h2 class="section-title">Trajnostni razvoj UNESCO</h2>
      <p class="lead">Naslovili bi več različnih ciljev trajnostnega razvoja UNESCO. Boljše soočanje s poplavami s pomočjo naše rešitve bi prispevalo k bolj čisti vodi in
        sanitarni ureditvi (6) ter trajnostnim skupnostim in mestom (11), saj je učinkovite spopadanje z naravnimi katastrofami eden izmed temeljev trajnostne
        in čiste družbe. Boljša uredba vodotokov pa bi močno pripomogla tudi k
        trajnosti življenja v vodi (14) in na kopnem (15), saj so bile posledice poplav
        uničujoče tako za kopenske kot vodne ekosisteme, boljši sistem protipoplavne
        infrastruktute pa bi lahko močno olajšal te posledice.</p>
      <h2 class="section-title">Metode</h2>
      <p class="lead">
        Raziskali bomo obstoječo literaturo glede področja napovedovanja poplavne
        ogroženosti s pomočjo algoritmov strojnega učenja. Na podlagi te literature
        2
        bomo izbrali ustrezne modele ter jih po potrebi prilagodili za boljše delovanje
        na področju Slovenije. Na ta način bomo torej ustvarili napovedne algoritme,
        ki na podlagi reliefa, vremenskih podatkov, ter drugih parametrov ustvarijo
        poplavne karte ter opozorila o ogroženosti. Natančnost algoritmov bomo
        preverili tudi s pomočjo dejanskih podatkov poplav. Za učenje modelov
        bomo uporabili superračunalnik. Naše uporabniško ime je auser009.
        Za namen prikazovanja novih poplavnih kart ter opozoril o ogroženosti
        posameznih območij bomo nato ustvarili spletno stran, ki bo javnosti omogočala enostaven dostop do teh podatkov ter aktualnih opozoril. Ljudje bodo
        med drugim lahko preverili, ali je njihova hiša znotraj predvidenega poplavnega območja in s pomočjo teh podatkov hitreje reagirali.
        Ustrezno opremljene podatke bomo poleg tega objavljali tudi na ustrezne
        repozitorije (GitHub, Zenodo), kjer bodo dostopni tudi drugim raziskovalcem.
      </p>
  </div>

</section>
<!-- /service -->
{% endblock %}
